---
import {
  scheduleMisas,
  scheduleHoraSanta,
  scheduleConfesiones,
} from "./scheduleList";
import SchedCol from "./SchedCol.astro";
---

<div class="border-r border-gray-500 py-14 px-7">
  <h4 class="font-semibold text-2xl text-neutral-800 mb-8">
    Horarios de misas
  </h4>
  {scheduleMisas.map((schedMisa) => <SchedCol {...schedMisa} />)}
</div>
<div class="border-r border-gray-500 py-14 px-7">
  <h4 class="font-semibold text-2xl text-neutral-800 mb-8">
    Horarios de hora santa
  </h4>
  {scheduleHoraSanta.map((schedHrSanta) => <SchedCol {...schedHrSanta} />)}
</div>
<div class="py-14 px-7">
  <h4 class="font-semibold text-2xl text-neutral-800 mb-8">
    Horarios de confesiones
  </h4>
  {scheduleConfesiones.map((schedConf) => <SchedCol {...schedConf} />)}
</div>
