---
interface Props {
  title: string;
  timeList: string[]; // 8:00 am, 9:00 am, etc.
}
const { title, timeList } = Astro.props;
---

<li class="text-neutral-700 flex gap-4 mb-6 last-of-type:mb-0">
  <span
    class="uppercase font-medium text-neutral-800 grow-0 shrink-0 basis[120px] min-w-30"
    >{title}:
  </span>
  <ul class="flex-1">
    {timeList.map((time) => <li class="mb-2 last-of-type:mb-0">{time}</li>)}
  </ul>
</li>
