---
import { SendHorizontal } from "@lucide/astro";
import Field from "@/components/common/input/Field.astro";
import Label from "@/components/common/input/Label.astro";
import Error from "@/components/common/input/Error.astro";
---

<form id="contact-form">
  <Field
    withContainer
    id="name"
    name="name"
    placeholder="Escribe tu nombre completo"
  >
    <Label for="name" slot="after-input">Nombre</Label>
    <Error slot="last-item" />
  </Field>

  <Field withContainer name="email" id="email" placeholder="email@dominio.com">
    <Label for="email" slot="after-input">Email</Label>
    <Error slot="last-item" />
  </Field>

  <Field
    withContainer
    name="subject"
    id="subject"
    placeholder="Escribe el asunto del mensaje"
  >
    <Label for="subject" slot="after-input">Asunto</Label>
    <Error slot="last-item" />
  </Field>

  <Field
    withContainer
    id="message"
    variant="textarea"
    name="message"
    rows="5"
    style="resize: none;"
    placeholder="Escribe tu mensaje"
  >
    <Label for="message" slot="after-input">Mensaje</Label>
    <Error slot="last-item" />
  </Field>

  <button
    class="bg-primary hover:bg-primary/80 transition-all duration-300 text-white w-full p-4 rounded-sm mt-10 cursor-pointer flex items-center justify-center gap-4 md:text-base text-sm"
    type="submit"
  >
    <SendHorizontal />Enviar mensaje
  </button>
</form>

<script>
  import { actions, isInputError } from "astro:actions";
  import { handleFormSubmission, handleErrors } from "../utils/form-validation";
  type InputFields = {
    name: string;
    email: string;
    message: string;
    subject: string;
  };

  handleFormSubmission<InputFields>(
    document.querySelector("#contact-form"),
    async (_, inputs) => {
      const { error } = await actions.sendSuggestion(inputs);
      const { cleanUpErrors, managerErrors } = handleErrors(
        Object.keys(inputs),
        "~ [data-field-error]",
      );
      if (isInputError(error)) {
        managerErrors(error);
      } else {
        cleanUpErrors();
      }
    },
  );
</script>
