---
import { announcements } from "./data/announcements";
import GridContainer from "./components/grid/GridContainer";
import GridItem from "./components/grid/GridItem";
import AnnouncementCard from "./components/AnnouncementCard.astro";
import NoData from "@/assets/svg/no_data.svg";
const hasAnnouncement = announcements.length > 0;
---

<section id="announcement-list" aria-labelledby="announcement-title">
  <div
    class="flex flex-col flex-wrap md:**:w-max items-center gap-4 mx-auto mb-10"
  >
    <span class="text-base text-center text-gold-700"
      >Entérate primero de todos los avisos parroquiales</span
    >
    <h3
      class="font-secondary font-semibold text-4xl text-center uppercase tracking-wider text-neutral-800"
      id="announcement-title"
    >
      Avisos a la Comunidad
    </h3>
  </div>
  {
    hasAnnouncement ? (
      <GridContainer
        client:load
        templateCols="repeat(auto-fill, minmax(300px, 1fr))"
      >
        {announcements.map((announcement) => (
          <GridItem transition:animate="fade" client:load>
            <AnnouncementCard {...announcement} />
          </GridItem>
        ))}
      </GridContainer>
    ) : (
      <div class="flex flex-col justify-center items-center text-center gap-10">
        <div class="w-1/2 md:w-1/4">
          <NoData class="w-full h-full" />
        </div>
        <div>
          <h4 class="font-bold text-3xl text-gold-600 mb-2 max-w-sm mx-auto px-6">
            No hay anuncios vigentes
          </h4>
          <p class="text-base/loose text-stone-800 max-w-sm mx-auto">
            Vuelve pronto para enterarte de nuestras próximas actividades.
          </p>
        </div>
      </div>
    )
  }
</section>

<!--

        <div class="text-center justify-self-center col-span-2">
          
          
        </div>

-->
