---
import YouTubeEmbed from "@/components/common/YouTubeEmbed.astro";
---

<div
  class="flex flex-col flex-wrap md:**:w-max items-center gap-4 mx-auto mb-10 mt-10"
>
  <span class="text-base text-center text-gold-700"
    >Siga la celebración eucarística en vivo</span
  >
  <h3
    class="font-secondary font-semibold text-4xl text-center uppercase tracking-wider text-neutral-800"
    id="announcement-title"
  >
    Santa Misa en Vivo
  </h3>
</div>
<div class="max-w-4xl mx-auto">
  <YouTubeEmbed
    title="YouTube video player"
    id="786MggrEGmQ?si=URADob4JsTG6_7_4"
  />
</div>
