---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/hero/HomeHero.astro";
import Content from "../components/home/Content.astro";
import Aside from "../components/Aside.astro";
---

<BaseLayout title="Inicio">
	<Hero />
	<div
		class="min-h-svh max-w-7xl mx-auto px-6 grid grid-cols-(--website-cols) max-sm:grid-cols-1 gap-16 my-10"
	>
		<Content />
		<Aside />
	</div>
</BaseLayout>
