---
import BaseLayout from "../layouts/BaseLayout.astro";
import Aside from "../components/Aside.astro";
import HeroHome from "../components/sections/HeroHome.astro";
import SacramentHome from "../components/sections/SacramentHome.astro";
import AnnouncementsSection from "@/features/AnnouncementList/AnnouncementsSection.astro";
import ContainerLayout from "@/layouts/ContainerLayout.astro";
---

<BaseLayout title="Inicio">
  <!-- <Hero /> -->
  <HeroHome />
  <ContainerLayout>
    <SacramentHome />
    <div
      class="min-h-svh grid grid-cols-(--website-cols) max-sm:grid-cols-1 gap-16"
    >
      <AnnouncementsSection />
      <Aside />
    </div>
  </ContainerLayout>
</BaseLayout>
