---
import type { Announcement } from "./announcement";
interface Props extends Announcement {}

const { image, title } = Astro.props;
---

<article
  class="bg-white row-span-3 nth-[2]:row-span-4 flex flex-col overflow-hidden rounded-md shadow-md border border-gray-400"
>
  <div class="flex-1/6 nth-[2]:flex-1/2 w-full overflow-hidden">
    <img
      decoding="async"
      loading="lazy"
      alt={title}
      class="w-full h-full object-cover"
      src={image}
    />
  </div>
  <div class="flex-1">
    <h5 class="font-bold text-lg text-center py-4 text-neutral-800">
      {title}
    </h5>
  </div>
</article>
