---
import AnnouncementList from "../../components/common/announcement/AnnouncementList";
const dateFormatter = new Intl.DateTimeFormat("es-MX", {
  dateStyle: "medium",
});
---

<div>
  <h3
    class="font-bold text-4xl md:text-5xl text-ordinario-600 font-primary text-center mb-5"
  >
    Avisos a la Comunidad
  </h3>
  <AnnouncementList client:visible />

  <h3 class="font-bold text-4xl md:text-5xl font-logo text-center my-10">
    Santa Misa en Vivo: {dateFormatter.format(new Date())}
  </h3>
  <div class="relative">
    <iframe
      class="aspect-video"
      src="https://www.youtube.com/embed/fgjG--ZsuaI?si=mhmBXBo5dUsTiFKO"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</div>
