---
import { Icon } from "astro-icon/components";
import { Facebook, Globe } from "@lucide/astro";
import ChurchSlider from "./ChurchSlider";
import SocialMediaLink from "./SocialMediaLink.astro";
import home_01 from "../../assets/hero/home_01.jpeg";
import home_02 from "../../assets/hero/home_02.jpeg";
import home_03 from "../../assets/hero/home_03.jpeg";
---

<ChurchSlider images={[home_01, home_02, home_03]} client:load />
<div class="flex flex-col absolute right-16 top-6 z-50 gap-4">
  <SocialMediaLink
    svgColor="#1877F2"
    fg="#fff"
    bg="#1877F2"
    to="https://www.facebook.com/TeatinosPuebla/?locale=es_LA"
  >
    <Facebook />
  </SocialMediaLink>
  <SocialMediaLink
    fg="#fff"
    bg="#262626"
    to="https://youtube.com/@teatinospuebla3010?si=FXi7TN1Jp6O0Lz_O"
  >
    <Icon name="logos/youtube" />
  </SocialMediaLink>
</div>
<p
  class="text-link items-center justify-center flex flex-col absolute top-6 right-0 z-50 bg-primary/65 backdrop-blur-lg gap-2 pt-2"
>
  <span
    class="rotate-180 text-sm tracking-widest"
    style="writing-mode: vertical-lr;">Redes sociales</span
  >
  <Globe class="min-w-3.5 p-1 grow-0 shrink-0 bg-link text-primary" />
</p>
