---
import MobileNav from "./MobileNav.astro";
import DesktopNav from "./DesktopNav.astro";
---

<header class="w-full fixed z-50 bg-primary">
  <nav
    id="main-navbar"
    class="max-w-7xl h-navbar-y px-6 mx-auto flex items-center justify-between relative"
  >
    <div>Logo</div>
    <DesktopNav />
    <MobileNav />
  </nav>
</header>
