---
import SaintsDay from "../features/CalendarSaint/components/SaintsDay.astro";
---

<aside>
  <h4
    class:list={[
      "font-bold",
      "text-4xl",
      "pb-2",
      "text-ordinario-600",
      "text-center",
      "border-b",
      "border-neutral-300",
      "font-primary",
      "mb-4",
    ]}
  >
    Santoral del día
  </h4>
  <SaintsDay />
  <h4
    class:list={[
      "font-bold",
      "text-4xl",
      "pb-2",
      "text-ordinario-600",
      "text-center",
      "border-b",
      "border-neutral-300",
      "font-primary",
      "mb-4",
    ]}
  >
    Agenda al Día
  </h4>
</aside>
