---
interface Props {
  images: string[];
}

const { images } = Astro.props;
---

<div class="w-full overflow-hidden bg-gray-200 rounded-md">
  <div class="">
    {images.map((img) => <img src={img} class="w-full h-full object-cover" />)}
  </div>
</div>
