---
import Carousel from "./Carousel";

/***
 <img class="w-full h-full object-cover" src="/carousel_01.jpg" />
    <button class="absolute top-1/2 bg-primary text-white p-4 rounded-sm"
      >Consulta horarios de misa</button
    >
    <div class="absolute bottom-0 left-0 py-2 bg-primary/75 w-full">
      <h1 class="font-bold text-white text-2xl leading-14 text-center">
        ¿Acaso no estoy yo aquí, que soy tu Madre?
      </h1>
    </div>
 */
---

<header>
  <div class="flex w-full items-center gap-10 bg-teal-700">
    <div
      class="basis-52 flex justify-center items-center h-52 grow-0 shrink-0 overflow-hidden bg-radial-[at_50%_75%] from-sky-200 shadow-md shadow-neutral-300 via-amber-400 to-orange-800 to-90% rounded-full"
    >
      <img
        class="h-[94%] w-[94%] rounded-full object-cover"
        src="/virgen_guadalupe.jpg"
      />
    </div>
    <h1 class="font-logo font-semibold text-6xl leading-18 text-neutral-800">
      Parr. Nuestra Sra. <span class="flex gap-4 justify-center items-center"
        ><div class="flex-1 bg-neutral-800 h-1"></div>Guadalupe<div
          class="flex-1 bg-neutral-800 h-1"
        >
        </div></span
      >
    </h1>
  </div>
  <div class="bg-amber-950">
    <Carousel client:load images={[]} />
  </div>
</header>
