---
import { Crown, Rose, Star } from "@lucide/astro";
const hangingStars = [
  { left: "left-[15%]", height: "h-6", size: 14, delay: "0s" },
  { left: "left-[40%]", height: "h-10", size: 20, delay: "0.2s" },
  { left: "left-[65%]", height: "h-8", size: 18, delay: "0.1s" },
  { left: "left-[85%]", height: "h-5", size: 12, delay: "0.3s" },
];
---

<a href="/" class="font-logo flex items-center gap-4 relative text-gray-100">
  <Crown class="absolute -top-4 right-0 rotate-12 text-amber-200" />
  <Rose
    class="absolute scale-150 max-md:scale-100 shrink-0 grow-0 left-0 -translate-x-full rotate-y-180 text-rose-200"
  />
  <p class="flex flex-col items-center">
    <span class="text-2xl max-md:text-lg font-bold tracking-widest"
      >Parr. Nuestra</span
    >
    <span class="italic text-sm max-md:text-xs font-semibold tracking-wide"
      >Sra. Guadalupe</span
    >
  </p>
  <Rose
    class="absolute scale-150 max-md:scale-100 shrink-0 grow-0 right-0 translate-x-full text-rose-200"
  />

  <div class="absolute top-full left-0 w-full">
    {
      hangingStars.map((star) => (
        <div
          class={`absolute ${star.left} ${star.height} w-px bg-slate-400 dark:bg-slate-500 flex justify-center`}
        >
          <div
            class="absolute -bottom-3 transform -translateX-1/2 animate-swing text-amber-400 fill-current"
            style={`animation-delay: ${star.delay}`}
          >
            <Star fill="var(--color-amber-200)" size={star.size} />
          </div>
        </div>
      ))
    }
  </div>
</a>
