---
import Logo from "./Logo.astro";
import Link from "./Link.astro";
// backdrop-blur-md shadow-sm shadow-neutral-800/90
---

<header id="nav-header" class="w-full fixed z-10000">
  <div
    class="max-w-7xl h-navbar-y px-6 mx-auto flex items-center justify-between"
  >
    <!-- <Logo /> -->
    <div class="inline-block">Logo</div>
    <nav class="flex items-center gap-4 text-white">
      <Link to="/" isIndex>Inicio</Link>
      <Link to="/servicios">Servicios</Link>
      <Link to="/horarios">Horarios</Link>
      <Link to="/contacto">Contacto</Link>
    </nav>
  </div>
</header>

<script>
  const header = document.querySelector("#nav-header");
  window.addEventListener("scroll", () => {
    if (window.scrollY > window.innerHeight - 100) {
      console.log(header);
      header?.classList.add("bg-primary");
    }
  });
</script>
