---
import { CldImage } from "astro-cloudinary";
import Heading from "./Heading.astro";
import List from "./List.astro";
import Link from "./Link.astro";
import Facebook from "@/assets/logos/facebook.svg";
import Youtube from "@/assets/logos/youtube.svg";
import Internet from "@/assets/logos/internet.svg";
const rightOverlayImage = "jpeg-optimizer_virgen_de_guadalupe_zy4lme";
const leftOverlayImage = "jpeg-optimizer_jesus_vhcxqo";
---

<div class:list={["bg-ordinario-600", "overflow-hidden", "relative"]}>
  <!-- Left image -->
  <div class:list={["h-full", "md:w-1/5", "w-full", "absolute", "right-0"]}>
    <CldImage
      class:list={[
        "bg-ordinario-600",
        "w-full",
        "h-full",
        "mix-blend-multiply",
        "opacity-75",
        "object-cover",
        "mask-[linear-gradient(to_right,transparent,black_70%),linear-gradient(to_bottom,black_70%,transparent)]",
        "mask-intersect",
      ]}
      zoom="0.4"
      grayscale
      crop="thumb"
      gravity="face"
      width={800}
      height={700}
      src={rightOverlayImage}
      sizes="(max-width: 600px) 100vw, 400px"
      alt="Virgen de Guadalupe"
    />
  </div>
  <!-- Right image -->
  <div class:list={["h-full", "md:w-1/3", "w-0", "absolute", "left-0"]}>
    <CldImage
      grayscale
      src={leftOverlayImage}
      width={800}
      height={700}
      sizes="(max-width: 600px) 100vw, 400px"
      alt="Crucifixión de Jesús"
      class:list={[
        "bg-ordinario-600",
        "scale-x-[-1]",
        "w-full",
        "h-full",
        "mix-blend-luminosity",
        "opacity-35",
        "object-cover",
        "mask-[linear-gradient(to_right,transparent,black_70%),linear-gradient(to_bottom,black_70%,transparent)]",
        "mask-intersect",
      ]}
    />
  </div>
  <!-- Footer content -->
  <div
    class:list={[
      "container",
      "px-6",
      "py-12",
      "md:py-0",
      "mx-auto",
      "relative",
      "min-h-72",
      "grid",
      "items-center",
    ]}
  >
    <footer
      class="text-white flex min-[1366px]:flex-row flex-col items-baseline md:pr-6 md:pl-20 md:gap-0 gap-10"
    >
      <!-- General section -->
      <div class="flex-[1.5] min-[820px]:max-[1366px]:py-6">
        <Heading>NuestraSraGuadalupe.com</Heading>
        <p class="text-gray-300 max-w-56 text-base/7 text-start text-pretty">
          Entérate de los avisos parroquiales, cambios de horario y eventos
          especiales al instante.
        </p>
      </div>
      <!-- Menu section -->
      <div
        class="flex-3 min-[1366px]:gap-0 gap-6 grid grid-cols-1 md:grid-cols-3 min-[820px]:max-[1366px]:pb-6 min-[820px]:max-[1366px]:gap-4"
      >
        <List title="Sitio web">
          <div class="flex flex-col gap-3 text-gray-300">
            <Link withArrow resourcePath="/">Inicio</Link>
            <Link withArrow resourcePath="/servicios">Servicios</Link>
            <Link withArrow resourcePath="/horarios">Horarios</Link>
            <Link withArrow resourcePath="/contacto">Contacto</Link>
          </div>
        </List>
        <!-- Catholic resources -->
        <List title="Recursos católicos">
          <div class="flex flex-col gap-3 text-gray-300">
            <Link resourcePath="https://www.mariavision.com/" isExternal>
              <div class="w-7 h-7 overflow-hidden rounded-full">
                <img
                  class="w-full h-full object-cover"
                  src="/logos/maria_vision.jpeg"
                  alt="Maria vision website logo"
                />
              </div>
              María Visión
            </Link>
            <Link resourcePath="https://teatinos.org/" isExternal>
              <div class="w-7 h-7 overflow-hidden rounded-full">
                <img
                  class="w-full h-full object-cover"
                  src="/logos/teatinos.jpeg"
                  alt="Teatinos website logo"
                />
              </div>
              Teatinos Puebla
            </Link>
            <Link resourcePath="https://www.aciprensa.com/" isExternal>
              <div class="w-7 h-7 overflow-hidden rounded-full">
                <img
                  class="w-full h-full object-cover"
                  src="/logos/aciprensa.png"
                  alt="Aciprensa website logo"
                />
              </div>
              Aciprensa
            </Link>
            <Link
              resourcePath="https://www.vatican.va/content/vatican/es.html"
              isExternal
            >
              <div class="w-7 h-7 overflow-hidden rounded-full bg-white">
                <img
                  class="w-full h-full object-cover"
                  src="/logos/santa_sede.png"
                  alt="Santa Sede website logo"
                />
              </div>
              La santa sede
            </Link>
          </div>
        </List>
        <List title="Siguenos">
          <Link
            isSocialMedia
            ariaLabel="Read more about nuestra sra. Guadalupe facebook website"
            isExternal
            resourcePath="https://www.facebook.com/TeatinosPuebla/?locale=es_LA"
          >
            <Facebook />
          </Link>
          <Link
            ariaLabel="Read more about nuestra sra. Guadalupe youtube channel"
            isSocialMedia
            isExternal
            resourcePath="https://youtube.com/@teatinospuebla3010"
          >
            <Youtube />
          </Link>
          <Link
            ariaLabel="Read more about nuestra sra. Guadalupe website"
            fill={false}
            isSocialMedia
            resourcePath="/"
          >
            <Internet />
          </Link>
        </List>
      </div>
    </footer>
  </div>
</div>
