<h4
  class="text-lg font-semibold uppercase relative mb-6 before:content-[''] before:absolute before:w-1/2 before:h-0.5 text-gold-400 before:bg-gold-300 before:-bottom-2 inline-block"
>
  <slot />
</h4>
