---
interface Props {
  to: string;
  bg: string; // hex. color
  fg: string;
  svgColor?: string;
  size?: "sm" | "md";
}
const { to, bg, fg, svgColor = null, size = "sm" } = Astro.props;
const itemSize = {
  sm: {
    linkW: "w-12",
    mobileW: "w-6",
  },
  md: {
    linkW: "w-16",
    mobileW: "w-8",
  },
};
---

<a
  rel="noopener noreferrer"
  target="_blank"
  class:list={[
    "bg-gray-100",
    "shadow",
    "border-2",
    "border-gray-100",
    "relative",
    itemSize[size].linkW,
    "max-sm:w-12",
    "aspect-square",
    "flex",
    "justify-center",
    "items-center",
    "rounded-full",
    "hover:**:rotate-y-360",
    "**:transition-all",
    "transition-all",
    "**:duration-500",
    "before:content-['']",
    "before:absolute",
    "before:top-full",
    "before:left-0",
    "before:w-full",
    "before:h-full",
    "before:transition-all",
    "before:duration-500",
    "overflow-hidden",
    "hover:before:top-0",
    "before:z-10",
    "**:z-20",
    "**:text-transparent",
    svgColor ? "**:fill-(--svgColor)" : "",
    svgColor ? "hover:**:fill-(--fg)" : "",
    "shrink-0",
    "min-w-0",
  ]}
  href={to}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>

<style define:vars={{ bg, fg, svgColor }}>
  a {
    z-index: 1;
  }

  a::before {
    background-color: var(--bg);
  }

  a:hover * {
    fill: var(--fg);
  }
</style>
