---
import { ClientRouter } from "astro:transitions";
import "../global.css";
import Navbar from "../components/navbar/Navbar.astro";
import Navigation from "../components/navbar/Navigation.astro";
import Footer from "../components/footer/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex, nofollow" />
    <title>Nuestra Sra. Guadalupe | {title}</title>
    <ClientRouter />
  </head>
  <body class="bg-background font-secondary">
    <!-- <Navbar /> -->
    <Navigation />
    <!-- Main content -->
    <main>
      <slot />
    </main>
    <Footer />
    <!-- Footer -->
    <!-- 
    <div class="bg-ordinario-600 text-white py-8 relative overflow-hidden">
      <Footer />
      <img
        class:list={[
          "absolute",
          "w-full",
          "top-0",
          "mix-blend-darken",
          "opacity-80",
        ]}
        src=""
      />
    </div>
    -->
  </body>
</html>
